{#
/*
 * Copyright 2011 Anthony Bretaudeau <abretaud@irisa.fr>
 *
 * Licensed under the CeCILL License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.cecill.info/licences/Licence_CeCILL_V2-en.txt
 *
 */
#}

{% extends "GenouestSchedulerBundle:Scheduler:layout.html.twig" %}

{% block scheduler %}
<div class="jobError">
    <h3>An error occured</h3>

    <p>An error occured during the submission of your job</p>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <p>Retry to submit your job in a short moment. If it still doesn't work, please send an email to the administrators of this website, with this reference: {{ uid }}. Sorry for the inconvenience.</p>

    <p></p>

    {% if job and job.backURL %}
        <p style="text-align:center;">
            <a href="{{ job.backURL }}">Click here to launch another job.</a>
        </p>
    {% endif %}
</div>
{% endblock %}

