{% extends "SchedulerBundle:Scheduler:layout.html.twig" %}

{% block scheduler %}
<div class="jobGeneralInfo">
    {% if success %}
        <h3>The job {{ job.title }} was killed successfully.</h3>
    {% else %}
        <h3>Sorry, the job {{ job.title }} could not be killed.</h3>
        <p>If you think it is important to kill this job, you may ask to manually kill this job by sending an email to the administrators of this website, with this reference: {{ job.jobuid }}.</p>
    {% endif %}

    {% if job.backURL %}
    <p>
        <a href="{{ job.backURL }}">Click here to launch another job.</a>
    </p>
    {% endif %}
</div>

{% endblock %}
